{% extends 'base.html' %}
{% block title %}
Рейтинг
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-8">
<div class="container">
    <h1>Рейтинг</h1>
<!--  <div class="row row-cols-2">-->
    {% for ratings in chanels %}
      {% if ratings.passed == True %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'page' ratings.id %}"> {{ ratings.name }} </a>
            </div>
        </div>
      {% endif %}
    {% endfor %}
<!--  </div>-->
</div>
    </div>
    <div class="col-4">
        <h3>Не прошли проверку</h3>
         {% for rating in chanel %}
              {% if rating.passed == False %}
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'page' rating.id %}"> {{ rating.name }} </a>
                    </div>
                </div>
<!--                <div class="col"><div class="card" style="width: 18rem;">-->
<!--                                <img src="{{ rating.photo.url }}" class="card-img-top" alt="...">-->
<!--                                <div class="card-body">-->
<!--                                    <h5 class="card-title">{{ rating.name }}</h5>-->
<!--                                    <p class="card-text">{{ rating.text}}</p>-->
<!--                                    <a href="{% url 'page' rating.id %}" class="btn btn-primary">Подробнее</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                </div>-->
              {% endif %}
            {% endfor %}
    </div>
    </div>
    {% if chanels.has_previous %}
                    <a href="?page={{chanels.previous_page_number}}&pk={{ search }}">Предыдущая страница</a>
                {% endif %}
                Страница {{ chanels.number }} из {{ chanels.paginator.num_pages }}
                {% if chanels.has_next %}
                    <a href="?page={{chanels.next_page_number}}&pk={{ search }}">Следующая страница</a>
                {% endif %}
</div>
{% endblock %}