{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-8">
            {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <h1>Обратная связь</h1>
    <p>
        Мы один из немногих, честных рейтингов каналов по инвестициям. Мы просто УКАЗАТЬ. Мы стараемся писать максимально честные
        обзоры и не нарушать права пользователей. В случае любых проблем, смело пишите нам на почту и мы постараемся
        быстро исправить все спорные моменты.
    </p>
        <form method=POST>
            {% csrf_token %}
            {{ form.as_p }}
    <br><br/>
   <input type="Submit"
    value="Отправить" class="
    btn btn-secondary">
        </form>
    </div>
    <div class="col-4">Карточки</div>
    </div>
</div>
{% endblock %}