{% extends 'base.html' %}
{% block title %}
Восстановление пароля
{% endblock %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
<div class="container">
    <div class="shadow p-4 mb-5 bg-body rounded">
    <h1>Восстановление пароля</h1>
        <form action="" method=POST>
            {% csrf_token %}
            {{ form.as_p }}

    <input type="Submit"
    value="Submit" class="
    btn btn-secondary">
        </form>
    </div>
    </div>
</div>
{% endblock %}